$prefix: 'sq';

// Grid
$grid-columns: 12;
$grid-gutters: 15px;

// Typography
$family-sans-serif: "Lato", sans-serif;
$family-primary: $family-sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-h1-size: 48px;
$font-h1-weight: 300;
$font-h2-size: 42px;
$font-h2-weight: 300;
$font-h3-size: 38px;
$font-h3-weight: 300;
$font-h4-size: 32px;
$font-h4-weight: 400;
$font-h5-size: 24px;
$font-h5-weight: 600;
$font-h6-size: 20px;
$font-h6-weight: 600;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black: #0a0a0a;

$primary: $purple;
$primary-invert: $white;
$link: $indigo;
$info: $teal;
$info-invert: $white;
$success: $green;
$success-invert: $white;
$warning: $yellow;
$warning-invert: $black;
$danger: $red;
$danger-invert: $white;
$border-color: #d8d8d8;

// Specific Color Functions
$body-bg: #ebebeb;
$card-bg: #fafafa;
$card-header: $white;
$brand-color: #405263;
$sidebar-links: #495057;
$sidebar-icons: #9aa0a7;
$sidebar-links-active: darken($primary, 8%);
$typography-color: #212529;
$typography-color-light: #495057;

// Table
$table-header-bg: #ebecee;
$table-header-font-weight: 400;
$table-border: #dee2e6;