$prefix: 'sq';

// Grid
$grid-columns: 12;
$grid-gutters: 15px;

// Typography
$family-sans-serif: "Lato", sans-serif;
$family-primary: $family-sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$primary: $purple;
$link: $indigo;
$info: $teal;
$success: $green;
$warning: $yellow;
$danger: $red;
$border-color: #d8d8d8;

// Specific Color Functions
$body-bg: #ebebeb;
$card-bg: #fafafa;
$card-header: $white;
$brand-color: #405263;
$sidebar-links: #495057;
$sidebar-icons: #9aa0a7;
$sidebar-links-active: darken($primary, 8%);
$typography-color: #212529;
$typography-color-light: #495057;