.#{$prefix}-main-header {
  border-bottom: 1px solid $border-color;
  padding: 24px 0;
}

ul.#{$prefix}-sidebar-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
}
.#{$prefix}-sidebar-nav-link {
  color: $sidebar-links;
  padding: 12px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: darken($sidebar-links, 8%);
    i {
      color: darken($sidebar-icons, 8%);
    }
  }

  &.active {
    color: $sidebar-links-active;
    i {
      color: $sidebar-links-active;
    }
  }

  i {
    color: $sidebar-icons;
    font-size: 1.2rem;
    margin-right: 8px;
  }
}