html, body {
  min-height: 100vh;
  background-color: $body-bg;
}

h1 {
  font-size: $font-h1-size;
  font-weight: $font-h1-weight;
}

h2 {
  font-size: $font-h2-size;
  font-weight: $font-h2-weight;
}

h3 {
  font-size: $font-h3-size;
  font-weight: $font-h3-weight;
}

h4 {
  font-size: $font-h4-size;
  font-weight: $font-h4-weight;
}

h5 {
  font-size: $font-h5-size;
  font-weight: $font-h5-weight;
}

h6 {
  font-size: $font-h6-size;
  font-weight: $font-h6-weight;
}

strong {
  font-weight: bold;
  color: inherit;
}