%column-shared {
  position: relative;
  width: 100%;
  padding-right: $grid-gutters;
  padding-left: $grid-gutters;
}
.#{$prefix}-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$grid-gutters};
  margin-left: -#{$grid-gutters};
}
.#{$prefix}-col {
  flex-basis: 0;
  flex-grow: 1; 
  max-width: 100%;
  @extend %column-shared;
}

@for $i from 1 through $grid-columns {
  .#{$prefix}-col-#{$i} {
    flex: 0 0 percentage(1/$grid-columns * $i);
    max-width: percentage(1/$grid-columns * $i);
    @extend %column-shared;
  }
}