%column-shared {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.#{$prefix}-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.#{$prefix}-col {
  flex-basis: 0;
  flex-grow: 1; 
  max-width: 100%;
  @extend %column-shared;
}
.#{$prefix}-col-1 {
  flex: 0 0 8.3%;
  max-width: 8.3%;
  @extend %column-shared;
}
.#{$prefix}-col-2 {
  flex: 0 0 16.6%;
  max-width: 16.6%;
  @extend %column-shared;
}
.#{$prefix}-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  @extend %column-shared;
}
.#{$prefix}-col-4 {
  flex: 0 0 33%;
  max-width: 33%;
  @extend %column-shared;
}